<footer>
    <div class="footer-info">
        <div class="footer-info-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div> &copy; Staysleek private limited</div>
        <div class="footer-info-link">
            <a href="/privacy">privacy & policy</a>
            <a href="/terms">terms & conditons</a>
        </div>

    </div>
</footer>