<% layout("/layout/boilerplate")%>
<body>
<div  class="row">
    <div class="col-8 offset-2" >
    <h3>create your own listing</h3>
    <form  method="post" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title"> Title</label>
            <input name="listing[title]" type="text" placeholder="enter title" class="form-control" required> 
        </div>
       
        <div class="mb-3">
            <label for="description" class = "form-label" > Enter description</label>
            <textarea name="listing[description]" type="text" class="form-control" required></textarea>
           
        </div>
         <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input name="listing[image]" type="file" class="form-control" required>
            </div>
        <div class="row">
            <div class="mb-3 col-md-4" >
       
                <label for="price" class = "form-label">Enter price</label>
                <input name="listing[price]" type="number" placeholder="enter price" class="form-control" required>          
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class = "form-label">enter country</label>
                <input name="listing[country]" type="text" placeholder="enter country" class="form-control" required>
            </div>

            
        </div>
      
        <div class="mb-3" >
            <label for="location" class = "form-label">enter location</label>
            <input name="listing[location]" type="text" placeholder="enter location"class="form-control" required>
        </div>
      
        
       
        <button class="btn btn-dark add-btn" >ADD</button>
    </form>
   

</div>
</div>
</body>
